.intro {
  padding: 0 16px;
}

.intro__image {
  margin-bottom: 18px;
}

.intro__container {
  display: flex;
  margin-bottom: 36px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.intro__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro__intro {
  color: #676767;
  display: block;
  margin-bottom: 8px;
  font-size: 40px;
  line-height: 40px;
}

.intro__name {
  display: block;
  font-size: 74px;
  margin: 0;
  line-height: 74px;
}

.intro__socials {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.intro__socials li {
  margin-right: 10px;
}

.intro__description {
  text-align: center;
  margin-bottom: 24px;
  line-height: 35px;
}

@media screen and (min-width: 575px) {
  .intro__container {
    flex-direction: row;
    text-align: left;
    align-items: stretch;
  }

  .intro__image {
    margin-right: 16px;
    margin-bottom: 0;
  }

  .intro__socials {
    justify-content: left;
  }

  .intro__description {
    text-align: left;
  }
}