.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.toolsList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.toolsList li {
  margin-right: 10px;
  display: flex;
  align-items: center;
}