.icon {
    margin-bottom: 0px;
    display: inline-block;
    height: 25px;
}

.mastodon,
.github,
.email,
.linkedin {
    composes: icon;
}

.mastodon{
    fill: #6364FF;
}

.github{
    fill: #282828;
}

.linkedin {
    fill: #0077B5;
}