.icon {
    margin-bottom: 0px;
    display: inline-block;
    height: 25px;
}

.mastodon,
.github,
.email,
.linkedin {
    composes: icon;
}

.mastodon:hover,
.mastodon:active {
    fill: #6364FF;
}

.github:hover,
.github:active {
    fill: #24292f;
}

.linkedin:hover,
.linkedin:active {
    fill: #0077B5;
}

.email:hover,
.email:active {
    fill: white;
}